.idea

backend/mongo_db
backend/rabbitmq

backend/email/dist
backend/email/node_modules/
backend/email/.development.env
backend/email/.production.env

backend/user/dist
backend/user/node_modules
backend/user/.development.env
backend/user/.production.env

frontend/node_modules
frontend/.development.env
frontend/.production.env