<div class="d-flex flex-column">
  <div class="d-flex justify-content-center align-items-center mt-3">
    <p class="fs-1 text-bold">About Varquiz</p>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-3">
    <p class="fs-5 text-center">
      At Varquiz, our conviction is that everybody has the potential to acquire any knowledge. The key components are a
      persistent mindset. We recognize that students are facing increased demands nowadays.
      This can lead to feelings of being inundated, generate anxiety, and simplify the
      process of experiencing exhaustion.
    </p>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-3">
    <p class="fs-5 text-center">
      Our responsibility is to equip each and every student with self-assurance to thrive, regardless of their drive or
      their aspirations.
    </p>
  </div>
  <div class="d-flex justify-content-center">
    <a href="/signup" class="btn btn-primary btn-lg">
      Join the community
    </a>
  </div>
</div>
