<div style="text-align: center;">
    <div style="margin: 0 auto; max-width: 560px;">
        <div style="font-size: 28px; line-height: 36px; color: #3b3d40;">
            Welcome to VarQuiz! <br/>Verify your account!
        </div>
    </div>

    <br>

    <div style="font-size: 16px; line-height: 22px; color: #62656a;">
        Thank you for creating a VarQuiz account. <br/>To ensure your security, please verify your account.
    </div>

    <div style="margin: 32px auto; width: 30%; border-radius: 8px; height: 50px; background: #0564c8;">
        <a style="display: inline-block; text-align: center; background: #0564c8; color: #ffffff; font-size: 20px; line-height: 120%; margin: 0 auto; text-decoration: none; text-transform: none; padding: 12px 20px; border-radius: 8px;"
           href="{{backendURL}}/users/confirmMail/{{text}}" target="_blank">
            Verify account
        </a>
    </div>

    <br>

    <div style="font-size: 16px; line-height: 22px; color: #62656a;">
        Didn't request this email? You can safely ignore it.
    </div>

    <div style="font-size: 16px; line-height: 22px; color: #62656a;">
        Stay connected,<br/>VarQuiz
    </div>
</div>

